<div class="form-group row">
  <label for="{{ $ctrl.name }}" class="col-sm-2 col-form-label">
    {{ $ctrl.label }}
  </label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      id="{{ $ctrl.name }}"
      value="{{ $ctrl.value }}"
      disabled
    />
  </div>
</div>
