<div class="user-detail">
  <h1>{{ 'user_detail.title' | translate }}</h1>
  <form>
    <user-data-field
      label="'user_detail.field.name' | translate"
      name="'name'"
      value="$ctrl.user.name"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.username' | translate"
      name="'username'"
      value="$ctrl.user.username"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.email' | translate"
      name="'email'"
      value="$ctrl.user.email"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.street' | translate"
      name="'street'"
      value="$ctrl.user.address.street"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.suite' | translate"
      name="'suite'"
      value="$ctrl.user.address.suite"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.city' | translate"
      name="'city'"
      value="$ctrl.user.address.city"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.zipcode' | translate"
      name="'zipcode'"
      value="$ctrl.user.address.zipcode"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.phone' | translate"
      name="'phone'"
      value="$ctrl.user.phone"
    >
    </user-data-field>
    <user-data-field
      label="'user_detail.field.website' | translate"
      name="'website'"
      value="$ctrl.user.website"
    ></user-data-field>
    <user-data-field
      label="'user_detail.field.company' | translate"
      name="'company'"
      value="$ctrl.user.company.name"
    ></user-data-field>
  </form>
  <a type="button" class="btn btn-primary btn-lg" ui-sref="user-list">
    {{ 'user_detail.return' | translate }}
  </a>
</div>
