<h1>{{ 'user_list.title' | translate }}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ 'user_list.table.name' | translate }}</th>
      <th scope="col">{{ 'user_list.table.username' | translate }}</th>
      <th scope="col">{{ 'user_list.table.email' | translate }}</th>
      <th scope="col">{{ 'user_list.table.address' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in $ctrl.users track by user.id" user-row></tr>
  </tbody>
</table>
